pre {
  background: #f4f5f6;
  border-left: .3rem solid #4682b4;
  font-family: Menlo, Consolas, Bitstream Vera Sans Mono, DejaVu Sans Mono, Monaco, monospace;
}

a {
  color: #4682b4;
  text-decoration: none;
}

select:focus {
  border: .1rem solid #4682b4;
  outline: 0;
}

hr {
  border-width: .1rem;
  border-top-style: solid;
  border-top-color: #4682b4;
  margin-top: 3rem;
  margin-bottom: 3.5rem;
}

input[type="submit"].button-clear {
  color: #4682b4;
  background-color: #0000;
  border-color: #0000;
}

.button.button-outline, button.button-outline, input[type="button"].button-outline, input[type="reset"].button-outline, input[type="submit"].button-outline {
  color: #4682b4;
  background-color: #0000;
}

.button, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="submit"] {
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  letter-spacing: .1rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: #4682b4;
  border: .1rem solid #4682b4;
  border-radius: .4rem;
  height: 3.8rem;
  padding: 0 3rem;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 3.8rem;
  text-decoration: none;
  display: inline-block;
}

.button.button-warning, button.button-warning, input[type="button"].button-warning, input[type="reset"].button-warning, input[type="submit"].button-warning, input[type="submit"].button-warning {
  color: #3d3d3d;
  background-color: #f9c935;
  border-color: #f9c935;
}

.button.button-success, button.button-success, input[type="button"].button-success, input[type="reset"].button-success, input[type="submit"].button-success, input[type="submit"].button-success {
  background-color: #41bb8a;
  border-color: #41bb8a;
}

.button-danger {
  background-color: #ff8a58;
  border-color: #ff8a58;
}

input[type="text"]:focus, input[type="url"]:focus, textarea:focus, select:focus {
  border: .1rem solid #4682b4;
  outline: 0;
}

.callout {
  background-color: #f4f5f6;
  border: 0 solid #e9ecef;
  border-left-width: 5px;
  margin: 10px 0;
  padding: 18px;
}

.callout .title {
  font-weight: bold;
}

.callout-info {
  border-left-color: #6aa0cc;
}

.callout-success {
  border-left-color: #41bb8a;
}

.callout-warning {
  border-left-color: #f9c935;
}

.callout-danger {
  border-left-color: #ff8a58;
}

div.section {
  padding: 15px 0;
}

div.section.gray {
  background-color: #f4f5f6;
}

.progress {
  background-color: #cae2f5;
  border-radius: 11px;
  width: 100%;
  height: 22px;
}

.progress .bar {
  color: #fff;
  text-align: center;
  background-color: #4682b4;
  border-radius: 11px;
  width: 0%;
  height: 100%;
  font-weight: 700;
}

div.stats {
  background-color: #f4f5f6;
  width: auto;
  height: auto;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
}

div.stats p {
  margin: 0;
  padding: 0;
  font-size: 80%;
  font-weight: 700;
}

div.stats p span {
  font-weight: normal;
}

#programButton:after {
  content: "";
  opacity: .3;
  background-color: red;
  width: 50%;
  height: 100%;
  display: block;
  position: relative;
}
/*# sourceMappingURL=index.b2ef739d.css.map */
